@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@500&display=swap');
p{
    font-family:"Poppins";
    font-size: 90px;
    box-shadow: 1rem;
    color:#ffff;
}
body{
    background-color:black;
}
input{
    padding: 0;
    height: 30px;
    width: 40rem;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
    border-radius: 15px;
    margin-right: -4px;
}